# Build output
**/bin/
**/obj/
output/

# Visual Studio
.vs/
*.user
*.suo
*.userprefs
*.userosscache
*.sln.docstates

# ReSharper / Rider
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# Misc
*.log
Thumbs.db
desktop.ini
